* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}
.img__container {
  position: relative;
  width: 90%;
  margin: 3rem auto;
  color: rgb(255, 255, 255);
  text-align: center;
}
.main__img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
  background-size: auto;
}
.heading {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading h1 {
  font-size: 10vw;
}

/* ///////////////////////////////////////////// */

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left {
  width: 100%;
}
.background__img {
  width: 100%;
  position: relative;
}
.background__img > img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -99;
}
.form__section {
  /* position: relative; */
  width: 90%;
  margin: auto;
  font-size: 20px;
}
.form__section > h1 {
  text-align: left;
  font-size: 5vw;
  padding-top: 2rem;
}
.form__section > p {
  text-align: left;
  font-size: 2.2vw;
  padding-bottom: 3rem;
}

.form__section input {
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #acafb3;
}
.form__section label {
  color: rgb(0, 0, 0);
}
.form__section textarea {
  border-radius: 10px;
  resize: none;
  border: 1px solid #acafb3;
}
.form-control:focus {
  border: 1px solid grey;
  border-color: rgb(153, 153, 153);
  box-shadow: none;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: rgb(51, 51, 51);
  width: 25vw;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 3px 6px;
  outline: none;
  transition: all 0.5s ease-in-out;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: rgb(10, 10, 10) !important;
  color: white !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button {
  width: 40vw;
  max-width: 400px;
  font-size: 22px;
  padding: 3px;
  margin: 2rem auto;
  border: none;
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0.911);
  outline: none;
  color: white;
  box-shadow: 2px 1px 11px 0px rgb(165 164 164 / 48%);
  transition: all 0.5s;
}
.button:hover {
  background-color: black;
}
@media only screen and (max-width: 700px) {
  .img__container {
    margin: 1rem auto;
  }
  .form__section > p {
    text-align: left;
    font-size: 3vw;
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .wrapper > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .form__section > h1 {
    text-align: left;
    font-size: 10vw;
    padding-top: 2rem;
  }
  .form__section > p {
    text-align: left;
    font-size: 5vw;
    padding-bottom: 2rem;
  }
}
