* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
}
.img__container {
  width: 90%;
  /* max-height: 650px; */
  margin: 3rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img__container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 1;
}
.img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__container .heading {
  width: 80%;
  height: 50%;
  margin: auto;
  text-align: center;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading > h1 {
  font-size: 6vw;
}
.heading > h4 {
  text-align: center;
  width: 60%;
  font-size: 2.2vw;
  margin: auto;
  font-weight: 200;
}
.top__btn {
  width: 25vw;
  margin: auto;
  border: none;
  padding: 1%;
  font-size: 1.5vw;
  cursor: pointer;
  outline: none;
  background: white;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.top__btn:hover {
  background-color: rgb(255, 226, 189);
}
@media only screen and (max-width: 550px) {
  .heading > h4 {
    font-size: 2.5vw;
  }
}
/* ////////////////////////////////////////////// */

.image__grid {
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}
.image__grid h1 {
  font-size: 3rem;
  margin: 2rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.grid__img {
  height: 350px;
  width: 350px;
  margin: 2rem 1rem;
}
.main__img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.grid__img > a {
  text-decoration: none;
  color: black;
  /* padding: 1rem; */
  /* font-size: 15px; */
}

/* //////////////////////////// */

.logo {
  width: 80%;
  margin: auto;
  padding: 2rem;
  /* position: relative; */
}
.logo__btn {
  width: 300px;
  margin: 3rem auto;
  padding: 1rem 0rem;
}
.logo__btn button {
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background: rgb(231, 231, 231);
  color: black;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid burlywood;
}
.logo__btn button:hover {
  background-color: rgb(255, 226, 189);
}

.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.icon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 1rem;
  /* padding-left: 2rem; */
}
#second {
  margin-right: 0;
}
#third {
  margin-left: 0;
}
.icon img {
  filter: grayscale(13);
}

.icon h1 {
  font-weight: 400;
  font-size: 45px;
  margin-top: 1rem;
}

.icon p {
  width: 77%;
  text-align: center;
}

@media only screen and (max-width: 580px) {
  .logo__btn {
    width: 200px;
  }
}

/* /////////////////////////////// */

.cards {
  width: 80%;
  margin: auto;
  height: auto;
}

.card {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid rgb(189, 189, 189);
  margin: 5rem 0;
  /* box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 17%); */
}
.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card__content {
  text-align: left;
  width: 69%;
  /* margin: auto; */
  margin: 5rem 3rem 1rem 5rem;
}
.card__content h1 {
  font-size: 75px;
  font-weight: 100;
  color: rgb(99, 99, 99);
}
.card__content h5 {
  font-size: 25px;
  font-weight: 100;
  color: rgb(99, 99, 99);
}

#second__card {
  grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 880px) {
  .card__content {
    margin: 2rem 4rem;
  }
}
@media only screen and (max-width: 650px) {
  .card {
    grid-template-columns: 1fr;
  }
  #second__card {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 480px) {
  .card__content {
    margin: 2rem;
  }
  .card__content h1 {
    font-size: 50px;
  }
}

/* //////////////////////////////////////////// */

.bottom {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}
.bottom h2 {
  width: 50%;
  margin: auto;
  color: rgb(109, 109, 109);
}
.bottom button {
  margin-top: 10px;
  border: 1px solid rgb(182, 182, 182);
  padding: 10px 70px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background: white;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgb(209, 209, 209);
}
.bottom button:hover {
  background-color: rgb(233, 233, 233);
}
/* //////////////////////////////////////// */

.getintouch {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 2rem;
  margin-top: 10rem;
}
.getintouch input {
  margin: 4rem 0rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 14px 1px rgb(0 0 0 / 17%);
  border-radius: 37px;
  padding-left: 15px;
}
.getintouch a {
  text-decoration: none;
  color: black;
}
